/* General stylings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* add prefixes for browsers 
    -ms
    -moz
    -webkit
    -o
    */
    border: 1px solid red; /*to be deleted */
}

img{
    width: 100%;
    max-width: 100%;
}

a{
    text-decoration: none;
}